@model Desk.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*             <div class="form-group">
                <label asp-for="Timestamp" class="control-label"></label>
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <select asp-for="CreatedById" class ="form-control" asp-items="ViewBag.CreatedById"></select>
            </div> *@
@*             <div class="form-group">
                <label asp-for="Categorization" class="control-label"></label>
                <input asp-for="Categorization" class="form-control" />
                <span asp-validation-for="Categorization" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="AssignedToOperatorId" class="control-label"></label>
                <select asp-for="AssignedToOperatorId" class ="form-control" asp-items="ViewBag.AssignedToOperatorId"></select>
            </div> *@
@*             <div class="form-group">
                <label asp-for="AssignedToGroupId" class="control-label"></label>
                <select asp-for="AssignedToGroupId" class ="form-control" asp-items="ViewBag.AssignedToGroupId"></select>
            </div> *@
@*             <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId"></select>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
